[submodule "lantern-build-engine"]
	path = lantern-build-engine
	url = https://gitlab.com/sbrl/lantern-build-engine.git
[submodule "lib/webgl-heatmap"]
	path = lib/webgl-heatmap
	url = https://github.com/pyalot/webgl-heatmap.git
