@import "../../node_modules/leaflet/dist/leaflet.css";

@import "../../node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css";

@import "../../node_modules/leaflet.markercluster/dist/MarkerCluster.css";
@import "../../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css";

html, body { font-size: 100%; }
body {
    display: grid;
    
    grid-template-columns: 10em auto 10em;
    grid-template-rows: auto auto;
    grid-template-areas: ". header ."
        ". . .";
    
    font-family: sans-serif;
	margin: 0; padding: 0;
}

h1 {
    grid-area: header;
    justify-self: center;
    align-self: start;
    
    margin: 0;
	padding: 0.25em 0.45em;
	
	background: rgba(255, 255, 255, 0.5);
	border-radius: 0 0 0.25em 0.25em;
    
    z-index: 100;
}

main {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	
	z-index: 50;
}

.sms-panel {
    top: initial !important; bottom: 0;
    z-index: 100 !important;
}
