@import "../../node_modules/leaflet/dist/leaflet.css";
@import "../../node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css";

main {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}
