@import "../../node_modules/leaflet/dist/leaflet.css";

@import "../../node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css";

@import "../../node_modules/leaflet.markercluster/dist/MarkerCluster.css";
@import "../../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css";

/** Ensure that some assets are copied that aren't by default **/
.non-existent {
    background: url(../../node_modules/leaflet/dist/images/marker-icon-2x.png),
        url(../../node_modules/leaflet/dist/images/marker-shadow.png);
}

html, body { font-size: 100%; }
body {
    display: grid;
    
    grid-template-columns: 10em auto 10em;
    grid-template-rows: auto auto;
    grid-template-areas: ". header ."
        ". . .";
    
    font-family: sans-serif;
	margin: 0; padding: 0;
}

h1 {
    grid-area: header;
    justify-self: center;
    align-self: start;
    
    margin: 0;
	padding: 0.25em 0.45em;
	
	background: rgba(255, 255, 255, 0.5);
	border-radius: 0 0 0.25em 0.25em;
    
    z-index: 100;
}

main {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	
	z-index: 50;
}

.sms-panel {
    top: initial !important; bottom: 0;
    z-index: 100 !important;
}

h2.device-name { text-align: center; }
.device-name::after {
    content: "#" attr(data-id);
    float: right; margin-right: 1em;
    
    font-size: 80%;
    color: hsl(230, 45%, 65%);
}

.device-data {
    display: flex;
    flex-direction: row;
}

.device-property-table {
    border-collapse: collapse;
}
.device-property-table tr:nth-child(odd) {
    background: hsla(222, 100%, 70%, 0.25);
}
.device-property-table th {
    padding-right: 2em;
}
.device-property-table td:nth-child(2) {
    border-left: 0.2em solid hsl(222, 100%, 59%);
    padding-left: 0.5em;
}

.reading-types {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

button.selected {
    font-weight: bolder;
}
